h4{
    font-weight:bold;
    text-align:center;
    font-size:20px;
    color:#000080;
}

p{
    color:#000080;
}

.logoLetters{
    font-size:25px;
}

.address{
    font-size:15px;
}

#title{
    font-size:17px;
}

a:link{
    color:800080;
}

a:visited{
    color:#FFFF00;
}

body{
    background-color: #FFFFFF;
}

.left{
    display:inline-block;
    height:100%;
    width:49%;
    margin:auto;
    vertical-align: top;
}

.right{
    display: inline-block;
    margin-top: -50px;
    height:100%;
    width:49%;
    margin:auto;
}

.ad{
    text-align: center;
    font-size:10px;
}

.underline{
    border-bottom: 1px solid #010101;
    margin-bottom: 25px;
    margin-top: 25px;
}

#links{
    display: inline-block;
    height:400px;
}
div div a{
    line-height: 37px;
}